<div class="detail-pet">
  <div class="image">
    <img src="{{pet.image}}" alt="" />
  </div>
  <div class="info">
    <h1>Hi! my name is {{pet.name}}</h1>
    <h2>I am {{pet.age}} years old and I am a {{pet.gender}} {{pet.specie}}</h2>
    <p>{{pet.description}}</p>
    <a href="/pets/{{pet.id}}/update">Edit profile</a>
    <a href="/pets/{{pet.id}}/chat">Chat</a>
  
  </div>
</div>