<div class="pets">
  {{#each pets as |pet|}}  
    <div class="pet" style="background-image:url('{{pet.image}}')">
      <div class="bgcolor">
        <div class="text">
          <div class="likes">
            {{#if pet.button}}
              <button id="btn-like-{{pet._id}}" onclick="like(event, '{{pet._id}}')">
                {{#if pet.like}}
                  {{> likes.svg colorHeart='cls-3' colorDog='cls-4'}}    
                {{else}}    
                  {{> likes.svg colorHeart='cls-1' colorDog='cls-2'}}
                {{/if}}            
              </button>
            {{/if}}            
          </div>
          <div class="name">
            <p class="title_pet">{{pet.name}}, {{pet.age}}</p>
          </div>
          <div class="detail">
            <a href="/pets/{{pet._id}}">Detail</a>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>