<div class="detail-user">
  <div class="image">
    <img src="{{user.image}}" alt="" />
  </div>
  <div class="info">
    <h1>Hola {{user.name}} {{user.lastname}}!</h1>
    <h2>{{user.email}}</h2>
    <p>{{user.description}}</p>
    <a href="/user/{{user.id}}/update" class="btn-editprofile">Edit profile</a>
    <a href="/pets/newpet" class="btn-addpet">Add new pet</a>
    <a href="/logout" class="btn-logout">Log out</a>


  </div>

</div>

<div class="pets">
  {{#each pets as |pet|}}
    <div class="pet" style="background-image:url('{{pet.image}}')">
      <div class="bgcolor">
      </div>
      <div class="text">
        <p class="title_pet">{{pet.name}}, {{pet.age}}</p>
        <div class="detail">
          <a href="/pets/{{pet.id}}">Detail</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>