<div class="detail-user">
  <div class="image">
    <img src="{{user.image}}" alt="" />
  </div>
  <div class="info">
    <h1>Hola {{user.name}} {{user.lastname}}!</h1>
    <h2>{{user.email}}</h2>
    <p>{{user.description}}</p>
  </div>

</div>

{{> petcard}}