<h2>PETS</h2>
<form>
  <input
    value="{{query.search}}"
    name="search"
    type="text"
    placeholder="Search"
  />
</form>
<hr />

<div class="pets">
  {{#each pets as |pet|}}
    <div class="pet">
      <img src="{{pet.image}}" />
      <div class="text">
        <p>{{pet.name}}, {{pet.age}}</p>
        <a href="/pets/{{pet.id}}">Detail</a>
      </div>
    </div>
  {{/each}}
</div>